extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- I use interpolation to dynamically add the project title.
        h1= project.project_name

        //- I use interpolation to dynamically add the project description.
        p.lead.text-light
          |#{project.description}

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Technologies

        //- I use an `each` iterator to replace the li tags below and interpolation to dynamically add the technologies used in each project.
        ul
          each tech in project.technologies
            li=tech

        //- I use template literals and interpolation to add URLs to the hrefs below & set the 'target' property to blank so they link to the repo and the live version of each project without leaving my site .
        a.button.expanded(href=`${project.live_link}`, target= '_blank') Live Demo
        a.button.expanded(href=`${project.github_link}`, target= '_blank') GitHub Repo

    //- I dynamically add three project images for each project with template literals and interpolation.  
    img.image(src=`/` + project.image_urls[1])
    img.image(src='/' + project.image_urls[2])
    img.image(src='/' + project.image_urls[3])
